.blogContainer {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.blogItem {
    list-style: none;
}

.title {
    color: #333;
    font-weight: bold;
}

.author {
    color: #555;
}